<h1 align="center">Ajouter une nouvelle banque</h1>
<form #formAddBanque="ngForm" (ngSubmit)="createBanque(formAddBanque)">

  <div class="form-group">
    <label for="nomBanque">Nom de la banque</label>
    <input type="text" ngModel name="nomBanque" class="form-control" id="nomBanque"  placeholder="Nom Banque">
  </div>

  <div class="form-group">
    <label for="adresseBanque">Adresse de la banque</label>
    <input type="text" ngModel name="adresseBanque" class="form-control" id="adresseBanque"  placeholder="Adresse Banque">
  </div>


  <button type="submit" class="btn btn-primary">Ajouter banque</button>
</form>
