<h1 align="center">Nous contacter</h1>
<form>
  <div class="form-group">
    <label for="nom">Votre nom</label>
    <input type="text" class="form-control" id="nom"  placeholder="Votre nom">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email"  placeholder="Votre email">
  </div>

  <div class="form-group">
    <label for="msg">Message</label>
    <textarea type="text" class="form-control" id="msg"  placeholder="Votre message"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Envoyer votre message</button>
</form>
