<table border="1" align="center" class="table">
  <thead>
    <tr>
      <th>Id</th><th>Nom</th><th>Adresse</th><th>Modifier</th><th>Suprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let banque of banques">
      <td>{{banque.id}}</td>
      <td>{{banque.nom}}</td>
      <td>{{banque.adresse}}</td>
      <td><button class="btn btn-warning" (click)="updateBanque(banque)">Modifier</button></td>
      <td><button class="btn btn-danger" (click)="deleteBanque(banque)">Supprimer</button></td>
    </tr>
    </tbody>
  </table>

